<div class="content" role="main">
  <div class="nav">
    <img  class="logo" src="../assets/images/Logo-Registraduria.png" alt="">
    <nav>
      <ul class="nav-content">
        <a class="nav-item" routerLink="/pages/seguridad/login" routerLinkActive="">Carga de Resultados</a>
        <a class="nav-item" routerLink="/pages/seguridad/register" routerLinkActive="">Listar Resultado</a>
        <a class="nav-item" routerLink="/pages/pagina-principal/paginaPrincipal" routerLinkActive="">Cambiar Resultado</a>
      </ul>
    </nav>
  </div>
  <div class="divider"></div>
  <router-outlet></router-outlet>
</div>

<div class="content">
  <h2 class="title">Carga de Resultados</h2>
  <div class="form">
    <form class="resultados-form" action="">
      <p>ID Candidato</p>
      <input type="text" [(ngModel)]="elResultado.id_candidato" />
      <p>Numero de Mesa</p>
      <input type="text" [(ngModel)]="elResultado.mun_mesa" />
      <p>Cantidad de votos</p>
      <input type="text" [(ngModel)]="elResultado.cantidad_de_votos" />
      <button class="Button" type="submit">ENVIAR</button>
    </form>
  </div>
</div>
