.form{
    display: flex;
    justify-content: center;
  }
  .login-form{
    position: relative;
    top: 80px;
  }
  .title{
    position: relative;
    top: 50px;
    text-align: center;
  }
  input{
    position: relative;
    padding: 10px 50px;
  }

  .Button{
    position: absolute;
    padding: 8px 40px;
    top: 200px;
    left: 80px;
  }