<div class="content" role="main">
    <div class="nav">
      <nav>
        <ul>
            <img  class="logo" src="../assets/images/Logo-Registraduria.png" alt="">
        </ul>
        <ul class="nav-content">
          <a class="nav-item" routerLink="/pages/seguridad/login" routerLinkActive="">Iniciar Sesión</a>
          <a class="nav-item" routerLink="/pages/seguridad/register" routerLinkActive="">Registrarse</a>
          <a class="nav-item" routerLink="/pages/pagina-principal/paginaPrincipal" routerLinkActive="">Pagina Principal</a>
        </ul>
      </nav>
    </div>
    <div class="divider"></div>
    <router-outlet></router-outlet>
  </div>

<div class="content">
    <img class="fondo" src="../assets/images/Imagen-3.jpg" alt="">
    <img class="fondo"src="../assets/images/Imagen-4.png" alt="">
    <div class="divider"></div>
</div>