<div class="content">
    <h2 class="title">Registrarse</h2>
    <div class="form">
            <form class="form-register" action="">
              <div class="form-box-1">
                <p>Nombres</p>
                <input type="text" name="" id="">
                <p>Apellido</p>
                <input type="text" name="" id="">
                <p>Nombre de Usuario</p>
                <input type="text" name="" id="">
                <p>Correo Electronico</p>
                <input type="email" name="" id="">
              </div>
              <div class="form-box-2">
                <p>Cedula</p>
                <input type="number" name="" id="">
                <p>Contraseña</p>
                <input type="password" name="" id="">
                <p>Verificar Contraseña</p>
                <input type="password" name="" id="">
                <button class="Button "type="submit">ENVIAR</button>
              </div>
            </form>
    </div>
</div>

